.container {
	background-color: #202020;
	width: min(90%, 400px);
	min-height: 610px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 24px;
}
.imgContainer {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
.img {
	width: 100%;
	height: 100%;
}
.memberName {
	font-size: 32px;
	line-height: 1.7;
	font-weight: bold;
	text-align: center;
}
.memberTitle {
	font-size: 20px;
	line-height: 1.7;
	text-align: center;
}
.socialLinksContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	margin: 20px 0;
}
.memberDescription {
	line-height: 1.7;
}
